{% extends 'base.html' %}

{% load static %}

{% block title %}
    Blog
{% endblock title %}

{% block blog %}
    <div class="container border border-rounded text-light">
        Tu można zbudować bloga
    </div>
    {% for post in post_list %}
        <div class="container border border-rounded">
            <div class="container text-center border">
                <h1>Opis: {{post.description}}</h1>
                <h2>Lokalizacja: {{post.location}}</h2>
            </div>
            <div class="container text-center border">
                <h2>Data dodania: {{post.created}}</h2>
                <h2>Autor: {{post.author}}</h2>
            </div>
        </div>
    {% endfor %}
{% endblock blog %}