{% extends 'base.html' %}

{% load static %}

{% block title %}
    Formularz kontaktowy
{% endblock title %}

{% block contact %}
    <h1>Jeżeli chcesz nam zadać pytanie, skorzystaj z poniższego formularza :)</h1>
            <form method="post">
                {% csrf_token %}
                <div class="container">
                {{ form.as_p }}
                </div>
                <div class="form-actions">
                <button type="submit">Send</button>
                </div>
            </form>
{% endblock contact %}