{% extends 'base.html' %}

{% load static %}

{% block title %}
    Zapisz się do newslettera!
{% endblock title %}

{% block form %}
    <h1>Zapisz się do newslettera!</h1>
    <form action="#" class="NewsletterSignupForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" name="" value="Potwierdź" class="border rounded"/>
    </form>
{% endblock form %}